* {
    transition: 1500ms;
    font-family: monospace;
    font-size: 14px;
    border-radius: 5px;
}

body {
    background-color: #0f0f0f;
}


/* OUTSIDE */

#main {
    box-sizing: border-box;
    position: fixed;
    margin-top: 5px;
    min-width: 400px;
    width: 40%;
    left: 30%;
    height: 90%;
    overflow-y: auto;
    background: grey;
    padding: 5px;
}

#in_div {
    box-sizing: border-box;
    position: fixed;
    min-width: 400px;
    padding: 0px;
    width: 40%;
    left: 30%;
    top: 93%;
}

#in {
    box-sizing: border-box;
    position: relative;
    min-width: 400px;
    width: 100%;
    height: 8%;
    padding-left: 5px;
    padding-right: 5px;
    left: 0%;
    background-color: lightgrey;
}


/* INSIDE: NOTE DISPLAY */

table {
    background: transparent;
    width: 100%;
}

td {
    vertical-align: text-top;
}

td:nth-of-type(1) {
    width: 0px;
}

div {
    padding: 5px;
}

span {
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}


.status0 {
    color: black;
    background-color: lightgrey;
    left: 0%;
}

.status1 {
    color: black;
    background-color: coral;
    text-decoration: underline;
    left: 0%;
}

.status2 {
    color: lightgrey;
    background-color: #111111;
    text-decoration: line-through;
    left: 10%;
}

.swapped {
    color : red;
    transition: 0ms;
}


@media screen and (max-width:800px) {
    #main, #in_div {
        min-width: 0px;
        width: 90%;
        left: 5%
    }
    #in {
        min-width: 0px;
    }    
    
    div {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
   
}